name: Deploy
on:
  push:
    branches: [ci-setup]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
        env:
          TS_DEBUG: true

      - name: Deploy
        run: |
          ssh root@floorcast.raccoon-pain.ts.net "cd /root/floorcast && git pull && docker compose up -d --build"
